@use "sass:map";

@import "./sizes.scss";

.content {
  margin-bottom: 64px;
}

$color-preview-size: 200px;
.color-preview {
  width: $color-preview-size;
  height: $color-preview-size;
  border-radius: map.get($sizes, "medium");
  margin: 0 auto;
}
