$background-colors: (
	'dark': #000000,
	'light': #ffffff,
);

$text-colors: (
	'dark': #f2fafa,
	'light': #2c3e50,
);

$accent-colors: (
	'dark': rgba(17, 247, 9, 1),
	'light': rgba(29, 188, 22, 1),
);

$sizes: (
	'small': 8px,
	'medium': 16px,
);
